<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxReceivedMessageSize="1000000000" />
        <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IService11" maxReceivedMessageSize="1000000000" />
        <binding name="BasicHttpBinding_IService2" maxReceivedMessageSize="1000000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar64.fulton.asu.edu/page7/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="UserControlServiceReference.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="http://webstrar64.fulton.asu.edu/Page2/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="AirlineSVCReference.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://webstrar64.fulton.asu.edu/page8/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="LocalServiceReference.IService1" name="BasicHttpBinding_IService11"/>
      <endpoint address="http://neptune.fulton.ad.asu.edu/WSRepository/Services/Web2StringSVC/service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2" contract="Web2StringSVCReference.IService" name="BasicHttpBinding_IService2"/>
    </client>
  </system.serviceModel>
</configuration>